.hero-img {
  height: 200px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero-img {
    height: 350px;
  }
}

.profile-dropdown {
    left: 50%;
    transform: translateX(-50%);
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* optional overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* above everything */
}