/* NAVBAR START */

/* Navbar background */
.navbar {
    background-color: #03335c !important;
}

/* Brand text */
.navbar-brand,
.navbar-brand span {
    color: #ffffff !important;
}

/* All nav links (default) */
.navbar .nav-link {
    color: #ffffff !important;
    transition: color 0.3s ease;
}

/* Hover */
.navbar .nav-link:hover {
    color: #ad810d !important;
}

.navbar-toggler{
    color: #ad810d !important;
}

.navbar-toggler .navbar-toggler:hover{
    transition: color 0.3s ease;
}

/* Active page link */
.navbar .nav-link.active {
    color: #ad810d !important;
}

/* Dropdown open (clicked) */
.navbar .nav-item.show > .nav-link,
.navbar .nav-item.show > .nav-link:hover,
.navbar .nav-item.show > .nav-link:focus {
    color: #ad810d !important;
}


/* Dropdown menu items */
.dropdown-menu .dropdown-item {
    color: #03335c;
}

/* Dropdown item hover */
.dropdown-menu .dropdown-item:hover {
    background-color: #03335c;
    transition: color 0.3s ease;
    color: #ffffff;
}

/* Navbar toggler icon (white) */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
    filter: invert(1);
}


/* NAVBAR END */


/* HOME START carousel slide*/

.hero-img {
  height: 200px;
  object-fit: cover;
}

/* Default (mobile first) */
.hero-img {
    height: 220px;
    object-fit: cover;
}

/* Tablets */
@media (min-width: 576px) {
    .hero-img {
        height: 320px;
    }
}

/* Laptops */
@media (min-width: 768px) {
    .hero-img {
        height: 500px;
    }
}

/* Large screens */
@media (min-width: 1200px) {
    .hero-img {
        height: 600px;
    }
}

/* Ensure carousel item is positioning context */
.carousel-item {
    position: relative;
}

/* Dark overlay */
.carousel-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.623);
    z-index: 1;           /* overlay layer */
}

/* Image stays at base */
.carousel-item img {
    position: relative;
    z-index: 0;
}

/* Caption above overlay */
.carousel-caption {
    z-index: 2;
    bottom: 50%;
    transform: translateY(50%);
}

/* HOME END carousel slide*/


.profile-dropdown {
    left: 50%;
    transform: translateX(-50%);
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fffffff1; /* optional overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* above everything */
}

